{% layout 'components/templates/default' %}

{% block content %}
  <code>{{ invite|json }}</code>
  <main class="teaser">
    <div class="teaser__intro">
      <p class="heading-5">{{ invite.Name }}</p>
    </div>
  </main>
{% endblock %}