{% layout 'components/templates/default' %}

{% block content %}
    {% capture rsvpAddress %}/{{ invite['Invite Code'] }}{% endcapture %}
    <div class="page">
        <div class="page__header">
            {% include "components/molecules/hero-heading" %}
        </div>

        <div class="text-content text-content--centered">
            <h3 class="heading-2">
                Thank you 
                {% for person in invite.people %}
                            {% if forloop.last and forloop.length > 1 %} &amp; {% endif %}
                        {{- person['Name'] -}}
                    {% if forloop.last == false and forloop.rindex > 2 %}, {% endif %}
                    {%- if forloop.last %} {% endif -%}
                {%- endfor -%}
                for submitting your RSVP!
            </h3>
            <p>Please bookmark your invite page <a href="{{ rsvpAddress }}">sophieandgraham.co.uk{{ rsvpAddress}}</a> and check back for full details of the day.</p>
        </div>

        <div class="text-content__cta">
            
            {% render "components/atoms/call-to-action-primary"
                url: rsvpAddress,
                text: "Return to your invite"
            %}
        </div>
    </div>

{% endblock %}