{% layout 'components/templates/default' %}

{% block content %}
  <main class="teaser">
    <div class="teaser__title">
      {% include "components/molecules/hero-heading" %}
    </div>
    <div class="teaser__married">
      <h2 class="heading-3">
        Sorry, Page not found
      </h2>
    </div>
  </main>
{% endblock %}