{% layout 'components/templates/default' %}

{% block content %}

    <div class="page">
        <div class="page__header">
            {% include "components/molecules/hero-heading" %}
        </div>

        <div class="text-content text-content--centered">
            <h3 class="heading-2">Sorry, Page not found</h3>
        </div>
    </div>

{% endblock %}