{% layout 'components/templates/default' %}

{% block content %}

    <div class="page">

        <div class="page__header">
            <h2 class="heading-2">Gifting</h2>
        </div>

        <div class="text-content text-content--centered">
            
            <h3 class="heading-3">Intro copy about our honeymoon</h3>

            <div class="gifts" data-module="gifting">
                {% for gift in gifts %}
                    {% render "components/molecules/gift-card" gift: gift, payments: payments %}
                {% endfor %}
            </div>

            <p>Or contribute a gift value of your choice that we can use towards a special moment</p>

            {% for payment in payments %}
                {% assign paymentName = "Sophie & Graham Wedding" | url_encode %}
                {% capture paymentOriginalText %}Contribute with {{ payment['Name'] }}<small>({{ payment['Button Small Text'] }})</small>{% endcapture %}
                {% assign paymentText = paymentOriginalText | replace: "#P", ""  | replace: "#D", paymentName %}
                <div class="text-content__cta">
                    {% render "components/atoms/call-to-action",
                        url: payment['URL'],
                        text: paymentText,
                        target: "_blank"
                        dataOriginal: paymentOriginalText,
                    %}
                </div>
            {% endfor %}
        </div>

        <div class="page__header">
            <h2 id="faq" class="heading-2">FAQs</h2>
        </div>

        <details class="expand text-s">
            <summary class="expand__summary">Can I do a bank transfer?</summary>
            <div class="expand__contents">
            <p>Yes of course, if you'd prefer to do a bank transfer, please <a href="/contact">contact us</a> and we'll send you our bank details.</p>
        </details>
        <details class="expand text-s">
            <summary class="expand__summary">How do I pay with PayPal?</summary>
            <div class="expand__contents">
            <p>Sed aliquam tortor elit, quis rhoncus velit rutrum quis. Integer justo felis, ultrices imperdiet massa venenatis, varius vehicula urna. Nam porttitor magna nulla, ut consequat lectus malesuada a. Aliquam diam odio, semper at varius sed, molestie nec ligula. Sed tristique malesuada velit a ultricies. Etiam sagittis libero non purus iaculis lacinia. Donec tristique, mi nec rutrum venenatis, magna sapien aliquam leo, sed iaculis ex ipsum ac dolor.</p>
        </details>
        <details class="expand text-s">
            <summary class="expand__summary">How do I pay with Monzo?</summary>
            <div class="expand__contents">
            <p>Sed aliquam tortor elit, quis rhoncus velit rutrum quis. Integer justo felis, ultrices imperdiet massa venenatis, varius vehicula urna. Nam porttitor magna nulla, ut consequat lectus malesuada a. Aliquam diam odio, semper at varius sed, molestie nec ligula. Sed tristique malesuada velit a ultricies. Etiam sagittis libero non purus iaculis lacinia. Donec tristique, mi nec rutrum venenatis, magna sapien aliquam leo, sed iaculis ex ipsum ac dolor.</p>
        </details>
        <details class="expand text-s">
            <summary class="expand__summary">How do I pay with a debit card?</summary>
            <div class="expand__contents">
            <p>Sed aliquam tortor elit, quis rhoncus velit rutrum quis. Integer justo felis, ultrices imperdiet massa venenatis, varius vehicula urna. Nam porttitor magna nulla, ut consequat lectus malesuada a. Aliquam diam odio, semper at varius sed, molestie nec ligula. Sed tristique malesuada velit a ultricies. Etiam sagittis libero non purus iaculis lacinia. Donec tristique, mi nec rutrum venenatis, magna sapien aliquam leo, sed iaculis ex ipsum ac dolor.</p>
        </details>
        <details class="expand text-s">
            <summary class="expand__summary">Alternative payment methods</summary>
            <div class="expand__contents">
            <p>Our preference would be to receive gifts via the secure payment methods of PayPal or Monzo. However, if you'd prefer another method that's totally fine. You can <a href="/contact">contact us</a> to get our bank details for a bank transfer, or alternatively you can give us cash or a cheque - please make any cheques out to Graham Martin.</p>
        </details>
        
    </div>

{% endblock %}