{% layout 'components/templates/default' %}

{% block content %}

    <div class="page">

        <div class="page__header">
            <h2 class="heading-2">Gifting</h2>
        </div>

        <div class="text-content text-content--centered">
            
            <p>//todo</p>

        </div>
    </div>

{% endblock %}