{% layout 'components/templates/default' %}

{% block content %}

    <div class="overview">
        <div class="overview__section">
            <div class="overview__section-title">
                <h2 class="heading-2">Transport and Accomodation</h2>
            </div>
            <div class="overview__section-content">
                <h3 class="heading-4">Transport</h3>

            </div>
        </div>

    {% render "components/atoms/section-break" %}

    

    </div>
{% endblock %}