<a 
    class="call-to-action{% if primary == true %} call-to-action--primary{% endif %}{% if disabled %} call-to-action--disabled{% endif %}" 
    href="{{ url }}"
    target="{{ target }}"
    {% if disabled %}disabled="disabled"{% endif %}
    >
    {{ text}}
</a>