<div class="image-hex">
    <div class="image-hex__background"></div>
    <div class="image-hex__foreground">
        <div class="image-hex__image-container">
            {% image url, alt, sizes, widths, "image-hex__image" %}
        </div>
    </div>
</div>