<div class="image-hex">
    <div class="image-hex__background"></div>
    <div class="image-hex__foreground">
        <div class="image-hex__image-container">
            {% image url, alt, "(min-width: 2000px) 500px, (min-width: 720px) 25vw, 180px", "180,360,540,720,1000,1500", "image-hex__image" %}
        </div>
    </div>
</div>