<div class="text-input text-input--number  {{ class }}">
    &pound;
    <input
        class="text-input__hidden-input"
        type="number"
        id="{{ id }}"
        name="{{ name }}"
        placeholder="{{ placeholder }}"
    >
</div>