<details class="expand text-s">
    <summary class="expand__summary">Directions to the venue</summary>
    <div class="expand__contents">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet turpis velit, ac cursus ipsum ornare dapibus. Donec id finibus felis, rhoncus ullamcorper urna. Sed a lacus sit amet nisi tempus hendrerit eget at quam. Curabitur sollicitudin maximus est, in pellentesque mi pharetra eget. Integer porttitor est in dignissim ultricies. Nulla sit amet justo id quam sagittis dignissim. Aenean vestibulum lacus quis tellus tristique viverra. Vivamus faucibus quam sit amet placerat volutpat.</p>
    </div>
</details>

<details class="expand text-s">
    <summary class="expand__summary">Can I leave my car overnight?</summary>
    <div class="expand__contents">
    <p>Yes, cars are welcome to be left overnight as long as they're collected by 11am the following day.</p>
</details>

<details class="expand text-s">
    <summary class="expand__summary">Can I bring my child?</summary>
    <div class="expand__contents">
        <p>No, sorry but this is a child free celebration. As much as we love all of your children, it is a small venue and we are unable to accommodate them. Please arrange appropriate childcare and we hope this allows you to let your hair down and have a night off!</p>
    </div>
</details>

<details class="expand text-s">
    <summary class="expand__summary">Can I take photos?</summary>
    <div class="expand__contents">
        <p>Please refrain from taking photos during the ceremony. after this, please take as many photos as you like! Just make sure you don't get in the way of the official photographers.</p>
    </div>
</details>

<details class="expand text-s">
    <summary class="expand__summary">Can I post on social media?</summary>
    <div class="expand__contents">
        <p>Please don’t post any pictures or videos on social media until after the bride and groom have done so. Please use the hashtag #THEMARTINS2023</p>
    </div>
</details>

<details class="expand text-s">
    <summary class="expand__summary">What's the dress code?</summary>
    <div class="expand__contents">
        <p>Dress to impress. For example, a short or long dress for ladies and a suit, shirt and tie for the men.</p>
    </div>
</details>

<details class="expand text-s">
    <summary class="expand__summary">When do I need to RSVP by?</summary>
    <div class="expand__contents">
        <p>Please <a href="/rsvp">RSVP here</a> using the form on our website by the 16th February 2023</p>
    </div>
</details>

<details class="expand text-s">
    <summary class="expand__summary">Can I bring a plus one?</summary>
    <div class="expand__contents">
        <p>No, sorry but it is a small venue and our numbers are limited</p>
    </div>
</details>

