<div class="text-content text-content--centered">
    <p>The most important gift to us is to have you share our day,</p>
    <p>but should you wish to contribute in some other way,</p>
    <p>then help us on our honeymoon in our chosen paradise,</p>
    <p>a little extra spending money would be really nice.</p>

    <div class="text-content__cta">
        {% render "components/atoms/call-to-action"
            url: "/gifting"
            text: "Contribute to an experience"
        %}
    </div>
</div>
