<ol class="order-of-day">
    {% if inviteType == "Day" %}
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 12:00">12PM</time> - Bar opens</li>
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 12:45">12.45PM</time> - Take your seats</li>
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 13:00">1PM</time> - Ceremony</li>
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 13:30">1.30PM</time> - Drinks reception, group photos &amp; games</li>
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 15:30">3.30PM</time> - Wedding breakfast</li>
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 17:30">5.30PM</time> - Speeches</li>
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 18:30">6.30PM</time> - Sunset drinks</li>
    {% endif %}
    {% if inviteType == "Evening" %} 
        <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 18:30">6.30PM</time> - Arrive for sunset drinks</li>
    {% endif %}
    <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 19:30">7:30PM</time> - Cake cutting</li>
    <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 19:45">7:45PM</time> - First dance &amp; party</li>
    <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 20:00">8.00PM</time> - Pizza</li>
    <li class="order-of-day__item heading-4"><time class="order-of-day__time" datetime="2023-05-06 23:30">11.30PM</time> - Carriages</li>
</ol>