<div class="text-content text-content--centered">
    <p>After crossing paths on the way to work for years without realising, we finally matched on a dating app in December 2016. But as Sophie was off travelling in South East Asia and Graham in India and Nepal, it wasn't until 3 months later that we finally got to meet in person!</p>
    <p>Since then our love has continued to grow with travelling to many amazing countries together, buying and renovating our first house, welcoming our gorgeous kittens and the most perfect proposal on the 1st December 2021.</p>
</div>