<div class="text-content text-content--centered">
    <p>There is plenty of accomodation available in the local area to suit every budget. We highly recommend you book taxis in advance.
    </p>

    <div class="text-content__cta">
        {% render "components/atoms/call-to-action"
            url: "/transport-and-accomodation"
            text: "Find out more"
        %}
    </div>
</div>