<p class="countdown js-countdown">
    <span class="countdown__days js-countdown-days">#</span>
    <span class="text-s">days to go</span>
</p>
<script>
    const differenceInDays = Math.ceil((new Date("05/06/2023").getTime() - new Date()) / (1000 * 3600 * 24));
    const countdown = document.querySelector('.js-countdown');
    const countdownDays = document.querySelector('.js-countdown-days');
    countdownDays.innerHTML = differenceInDays;
    countdown.classList.add('is-visible');
</script>