<time class="wedding-date" datetime="2023-05-06">
    <span class="wedding-date__end">Saturday</span>
    <span class="wedding-date__middle">6<sub>th</sub></span> 
    <span class="wedding-date__end">May 2023</span>
</time>